@page "/"
@inherits ToDoBase






<h1 data-test-id="title-todo" class="title">To-Do App</h1>
<div class="todo">
    <button data-test-id="button-todo" class="btn-todo" @onclick="() => AddItem(inputValue)" type="button">Add Item!</button>
    <input data-test-id="text-todo" class="txt-todo" type="text" @bind="inputValue" placeholder="Write something!">
</div>

@code {
    private string inputValue;

}

@if (Todos == null)
{
    <h1>Please Wait ...</h1>
}

else
{

   

    @foreach (var todo in Todos)
    {
        <div>

          <h1>@todo</h1>

        </div>

    }


}
