@page "/"
@inherits ToDoBase



<h1 data-test-id="title-todo" class="title">To-Do App</h1>
<div class="todo">
    <button data-test-id="button-todo" class="btn-todo" @onclick="() => AddItem(Text)" type="submit">Add
        Item!</button>
    <input data-test-id="text-todo" class="txt-todo" type="text" @bind="Text" placeholder="Write something!">
</div>



@code {
    private string Text;

}





@foreach (var todo in Todos)
{
    <div class="todo-list">

    <h3 data-test-id="label-title-todo-@GenerateUUIDs()" class="title-item"><label for="">@todo</label></h3>
    <button data-test-id="button-Delete-todo-@GenerateUUIDs()" class="btn-Delete-todo" type="submit">Delete</button>
    <button data-test-id="button-Edit-todo-@GenerateUUIDs()" class="btn-Edit-todo" type="submit">Edit</button>


</div>


}
